.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-size-div {
  width: 50%;
  height: 650px;
}

.backg {
  position: absolute;

  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto 1fr auto; /* Adjust row sizes as needed */
  min-height: 100vh; /* Ensure the grid covers the entire viewport height */
  gap: 20px;
}

.awesome {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-size: 600% 100%;
  overflow: hidden;
}
